* {
    font-family: Solway;
}

section {
    text-align: center;
}

input {
    padding: 0.5em;
    font-size: 1.5em;
    border: thin solid #ccc;
    border-radius: 5px;
    color: cornflowerblue;
}
