<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>AngularJS Tutorials</title>
</head>

<!-- ng-app registers the application with the given name. -->

<body ng-app="ngModelApp">
    <main>
        <!-- ng-controller registers the controller that is going to "govern" the section -->
        <section ng-controller="modelController">

            <p>Type in the textbox to see two-way binding in action!</p>

            <!-- the ng-model binds the value of the input, select or textarea to a variable defined on $scope -->
            <!-- when the value of the input changes the model is updated automatically -->
            <!-- when the value of the model changes, the value of text box is updated autmatically -->
            <input type="text" ng-model="name">

            <!-- the {{ }} brackets are called interpolation expressions or binding expressions -->
            <!-- they are used to bind or display data to attributes or as text -->
            <h1>Welcome, {{ name }}</h1>
        </section>
    </main>

    <!-- attaching our angular code at the end of the body -->
    <script src="./ngmodel.js"></script>
    <script src="./controllers/model-controller.js"></script>
</body>

</html>